@import '../../node_modules/normalize.css/normalize.css';
@import './extra-normalize.css';

/* @font-face { */
/*   font-family: CT Cinetype; */
/*   src: url('/fonts/GT-Cinetype/GT-Cinetype-Regular.ttf'); */
/*   font-weight: 400; */
/* } */
/*  */
/* @font-face { */
/*   font-family: CT Cinetype; */
/*   src: url('/fonts/GT-Cinetype/GT-Cinetype-Bold.ttf'); */
/*   font-weight: 600; */
/* } */
/*  */
/* @font-face { */
/*   font-family: SF Mono; */
/*   src: url('/fonts/SFMono/SFMono-Regular.otf'); */
/*   font-weight: 400; */
/* } */
/*  */
/* @font-face { */
/*   font-family: Lab Grotesque; */
/*   src: url('/fonts/Lab-Grotesque/LabGrotesque-Regular.ttf'); */
/*   font-weight: 400; */
/* } */

@font-face {
  font-family: Apercu Pro;
  src: url('/fonts/Apercu/apercupro-regular/apercu_regular_pro.otf');
  font-weight: 400;
}

@font-face {
  font-family: Apercu Pro;
  src: url('/fonts/Apercu/apercupro-regular-italic/apercu_regular_italic_pro.otf');
  font-style: italic;
}

@font-face {
  font-family: Apercu Pro;
  src: url('/fonts/Apercu/apercupro-medium/apercu_medium_pro.otf');
  font-weight: 500;
}

@font-face {
  font-family: Apercu Pro;
  src: url('/fonts/Apercu/apercupro-bold/apercu_bold_pro.otf');
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Apercu Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
  color: #222;
}
