/* @font-face { */
/*   font-family: CT Cinetype; */
/*   src: url('/fonts/GT-Cinetype/GT-Cinetype-Regular.ttf'); */
/*   font-weight: 400; */
/* } */
/*  */
/* @font-face { */
/*   font-family: CT Cinetype; */
/*   src: url('/fonts/GT-Cinetype/GT-Cinetype-Bold.ttf'); */
/*   font-weight: 600; */
/* } */
/*  */
/* @font-face { */
/*   font-family: SF Mono; */
/*   src: url('/fonts/SFMono/SFMono-Regular.otf'); */
/*   font-weight: 400; */
/* } */
/*  */
/* @font-face { */
/*   font-family: Lab Grotesque; */
/*   src: url('/fonts/Lab-Grotesque/LabGrotesque-Regular.ttf'); */
/*   font-weight: 400; */
/* } */

@font-face {
  font-family: HK Grotesk;
  src: url('/fonts/hk-grotesk/HKGrotesk-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: HK Grotesk;
  src: url('/fonts/hk-grotesk/HKGrotesk-Bold.otf');
  font-weight: 600;
}

@font-face {
  font-family: Garamond Premier Pro Display;
  src: url('/fonts/Garamond Premier Pro Display/Garamond Premier Pro Display.otf');
  font-weight: 400;
}

@font-face {
  font-family: Apercu Pro;
  src: url('/fonts/Apercu/apercupro-regular/apercu_regular_pro.otf');
  font-weight: 400;
}

@font-face {
  font-family: Apercu Pro;
  src: url('/fonts/Apercu/apercupro-bold/apercu_bold_pro.otf');
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Apercu Pro', sans-serif;
}
